node_modules
.env
.env.*
next_app/components/contract_abi.js
next_app/components/es5_contract_abi.js
.env_*
next_app/static/crowdsale_uploads/*
next_app/static/crowdsale_photos/*
next_app/.next/*
next_app/.next
next_app/static/user_profile_pics/*
next_app/static/user_profile_imgs/*
next_app/static/listing_photos/*
google_drive_key.json
mnemonic_backup
dump/*
dump
server/web_scrapers/saved_data
server/web_scrapers/house_supply_scrapper.js
